.sidebar.active {
    right: 0;
    /* Mostrar la barra lateral desde el lado derecho */
}

/* Estilos para la barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    /* Inicialmente oculta desde el lado derecho */
    height: 100%;
    width: 250px;
    transition: right 0.3s ease;
    z-index: 1001;
}

/* Estilos para el overlay/Estilo de la barra lateeral caundo aparese */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    /* Oculto por defecto */
}

.overlay.active {
    display: block;
    /* Mostrar el overlay cuando la barra lateral está activa */
}

/* Estilos para ocultar los botones de la barra de navegación */
.nav-buttons {
    transition: opacity 0.3s ease;
}

.nav-buttons.hidden {
    opacity: 0;
    pointer-events: none;
    /* Evita la interacción con los botones cuando están ocultos */
}