<!-- COMPUTADORAS -->
<h4 class="flex justify-center my-3 mt-4 text-black text-2xl font-bold cursor-default">Computadoras</h4>
<div
    class="flex px-5 py-3 w-36 mx-auto mt-2 0 border rounded-lg items-center justify-center"
    style="background-color: #F4F4F4;">
        <a routerLink="computadoras"
            class="inline-flex items-center text-sm font-medium text-gray-700 hover:underline">
            Ver todos
            <svg class="w-3 h-3 ml-2.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="m14.475 12l-7.35-7.35q-.375-.375-.363-.888t.388-.887t.888-.375t.887.375l7.675 7.7q.3.3.45.675t.15.75t-.15.75t-.45.675l-7.7 7.7q-.375.375-.875.363T7.15 21.1t-.375-.888t.375-.887z" />
            </svg>
        </a>
</div>
<div class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto p-2">
    <button *ngFor="let product of productos" 
      class="mx-3 my-3 max-w-60 p-4 rounded shadow md:p-6 #F4F4F4"
      style="background-color:  #F4F4F4"
      [routerLink]="['/computadoras',product.id]"
      >
        <div class="flex items-center justify-center h-40 mb-4 rounded-md ">
            <img class="max-h-32" src={{product.imagen}} alt="computadora">
        </div>
        <div class="w-full mb-1 text-center h-20">
            <span class="text-black text-sm cursor-default">{{product.modelo}} {{product.marca}} {{product.descripcion}}</span>
        </div>
        <div class="w-ful h-10 text-center mb-1">
            <span class="text-black text-2xl font-bold cursor-default">{{product.precio | currency:'S/ ' : 'symbol' : '1.2-3' }}</span>
        </div>
        <div class="flex items-center justify-center">
            <div class="rounded-md mr-1 bg-black hover:bg-slate-700">
                <a href="#"
                    class="flex items-center justify-center font-bold h-10 w-32 text-xs text-white"
                    >Agregar
                    al carro</a>
            </div>
            <div class="rounded-md bg-black hover:bg-slate-700">
                <a href="#"
                    class="flex items-center justify-center font-bold h-10 w-20 text-xs text-white "
                    >Comprar</a>
            </div>
        </div>
    </button>
</div>
<div class="chat-button h-[60px] w-[60px] rounded-full bg-black fixed bottom-[30px] right-[30px] cursor-pointer">
</div>


<!-- Modal -->
<div id="chatModal"
    class="hidden md:max-w-xs w-full sm:w-3/4 bg-white border border-gray-300 rounded-lg shadow-lg mx-4">
    <button class="close-button">&times;</button>
    <div class="max-w-xs w-full bg-white border border-gray-300 rounded-lg shadow-lg">
        <!-- Encabezado -->
        <div class="bg-gray-700 text-white p-3 flex flex-col items-center rounded-lg">
            <img src="../../../assets/images/robot.jpg" alt="Logo" class="h-10 mb-1">
            <h3 class="text-lg font-bold">¿Necesitas ayuda?</h3>
            <p class="text-white text-xs mb-2">Usa nuestro chat para conversar con nuestros asesores.</p>
        </div>

        <!-- Contenido -->
        <div class="px-3 py-2">
            <div class="flex items-center mb-2">
                <div class="rounded-full bg-gray-200 p-1 flex items-center justify-center">
                    <!-- Ícono Material Symbols -->
                    <span class="material-symbols-outlined text-gray-500 text-xl">
                        group
                    </span>
                </div>
                <div class="ml-2 text-sm text-gray-500">
                    <span class="font-bold">Innova construction</span> <br>
                    ¿En qué te podemos ayudar hoy?
                </div>
            </div>
            <div class="p-2 bg-white flex flex-col items-center">
                <!-- Enlaces a botones -->
                <a href="https://web.whatsapp.com/"
                    class="w-3/4 bg-green-500 text-white py-1 px-4 rounded mb-1 text-center">Whatsapp</a>
                <a href="#" class="w-3/4 bg-blue-500 text-white py-1 px-4 rounded mb-1 text-center">Realizar una
                    compra</a>

                <!-- Botón "Chatear Ahora" centrado -->
                <div class="flex justify-center my-2">
                    <p
                        class="bg-white text-blue-600 border border-blue-600 rounded-full py-1 px-4 text-sm font-semibold transition-colors text-center">
                        Chatear Ahora
                    </p>
                </div>

                <div class="input-area mt-2 w-full flex flex-col items-center">
                    <textarea class="w-full max-w-xs p-1 border rounded mb-1"
                        placeholder="Escribe tu mensaje aquí..."></textarea>
                    <a href="#"
                        class="w-full max-w-xs bg-black text-white hover:bg-gray-500 py-1 px-4 rounded-full text-center">Enviar</a>
                </div>
            </div>
        </div>
    </div>
</div>
