<!-- Catalogo de productos -->
<div class="bg-gray-200 rounded-2xl p-4">
    <div class="">
        <div class="container w-full mt-8" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="flex items-center justify-between py-4 w-full">
                <h4 class="text-2xl font-bold text-gray-700">
                    Nuestras ofertas destacadas
                </h4>
                <button
                    class="ml-auto inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 transition-colors">
                    Ver todos
                    <svg class="w-3 h-3 ml-2.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="m14.475 12l-7.35-7.35q-.375-.375-.363-.888t.388-.887t.888-.375t.887.375l7.675 7.7q.3.3.45.675t.15.75t-.15.75t-.45.675l-7.7 7.7q-.375.375-.875.363T7.15 21.1t-.375-.888t.375-.887z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="w-full min-w-screen flex items-center justify-start overflow-x-auto px-4 py-4">
            <div class="bg-white mx-4 border border-gray-200 rounded-2xl shadow-lg p-2 dark:border-gray-700"
                style="width: 22rem; flex-shrink: 0;">
                <button
                    class="flex items-center justify-center mb-2 rounded-xl overflow-hidden dark:bg-gray-700 w-full h-full">
                    <img class="w-full h-full object-contain"
                        src="https://img01.huaweifile.com/sg/ms/pe/pms/uomcdn/PE_HW_B2C/pms/202409/gbom/6942103125171/428_428_0B30B9E7F32A157F613C4E3A6A9515B1mp.png"
                        alt="computadora-1">
                </button>
                <div class="w-full mb-2 text-center">
                    <span class="text-gray-500 text-sm">AMD RX 6400 4GB RYZEN 5 5600G 8GB RAM</span>
                </div>
                <div class="h-10 text-center mb-2">
                    <span class="text-black text-2xl font-bold">S/ 2,200.00</span>
                </div>
                <div class="flex items-center justify-center p-4">
                    <button class="bg-black hover:bg-gray-700 text-white w-3/4 h-10 rounded-full">Comprar</button>
                </div>
            </div>

            <div class="bg-white mx-4 border border-gray-200 rounded-2xl shadow-lg p-2 dark:border-gray-700"
                style="width: 22rem; flex-shrink: 0;">
                <button
                    class="flex items-center justify-center mb-2 rounded-xl overflow-hidden dark:bg-gray-700 w-full h-full">
                    <img class="w-full h-full object-contain"
                        src="https://img01.huaweifile.com/sg/ms/pe/pms/uomcdn/PE_HW_B2C/pms/202409/gbom/6942103125171/428_428_0B30B9E7F32A157F613C4E3A6A9515B1mp.png"
                        alt="computadora-1">
                </button>
                <div class="w-full mb-2 text-center">
                    <span class="text-gray-500 text-sm">AMD RX 6400 4GB RYZEN 5 5600G 8GB RAM</span>
                </div>
                <div class="h-10 text-center mb-2">
                    <span class="text-black text-2xl font-bold">S/ 2,200.00</span>
                </div>
                <div class="flex items-center justify-center p-4">
                    <button class="bg-black hover:bg-gray-700 text-white w-3/4 h-10 rounded-full">Comprar</button>
                </div>
            </div>
            <div class="bg-white mx-4 border border-gray-200 rounded-2xl shadow-lg p-2 dark:border-gray-700"
                style="width: 22rem; flex-shrink: 0;">
                <button
                    class="flex items-center justify-center mb-2 rounded-xl overflow-hidden dark:bg-gray-700 w-full h-full">
                    <img class="w-full h-full object-contain"
                        src="https://img01.huaweifile.com/sg/ms/pe/pms/uomcdn/PE_HW_B2C/pms/202409/gbom/6942103125171/428_428_0B30B9E7F32A157F613C4E3A6A9515B1mp.png"
                        alt="computadora-1">
                </button>
                <div class="w-full mb-2 text-center">
                    <span class="text-gray-500 text-sm">AMD RX 6400 4GB RYZEN 5 5600G 8GB RAM</span>
                </div>
                <div class="h-10 text-center mb-2">
                    <span class="text-black text-2xl font-bold">S/ 2,200.00</span>
                </div>
                <div class="flex items-center justify-center p-4">
                    <button class="bg-black hover:bg-gray-700 text-white w-3/4 h-10 rounded-full">Comprar</button>
                </div>
            </div>
            <div class="bg-white mx-4 border border-gray-200 rounded-2xl shadow-lg p-2 dark:border-gray-700"
                style="width: 22rem; flex-shrink: 0;">
                <button
                    class="flex items-center justify-center mb-2 rounded-xl overflow-hidden dark:bg-gray-700 w-full h-full">
                    <img class="w-full h-full object-contain"
                        src="https://img01.huaweifile.com/sg/ms/pe/pms/uomcdn/PE_HW_B2C/pms/202409/gbom/6942103125171/428_428_0B30B9E7F32A157F613C4E3A6A9515B1mp.png"
                        alt="computadora-1">
                </button>
                <div class="w-full mb-2 text-center">
                    <span class="text-gray-500 text-sm">AMD RX 6400 4GB RYZEN 5 5600G 8GB RAM</span>
                </div>
                <div class="h-10 text-center mb-2">
                    <span class="text-black text-2xl font-bold">S/ 2,200.00</span>
                </div>
                <div class="flex items-center justify-center p-4">
                    <button class="bg-black hover:bg-gray-700 text-white w-3/4 h-10 rounded-full">Comprar</button>
                </div>
            </div>
            <div class="bg-white mx-4 border border-gray-200 rounded-2xl shadow-lg p-2 dark:border-gray-700"
                style="width: 22rem; flex-shrink: 0;">
                <button
                    class="flex items-center justify-center mb-2 rounded-xl overflow-hidden dark:bg-gray-700 w-full h-full">
                    <img class="w-full h-full object-contain"
                        src="https://img01.huaweifile.com/sg/ms/pe/pms/uomcdn/PE_HW_B2C/pms/202409/gbom/6942103125171/428_428_0B30B9E7F32A157F613C4E3A6A9515B1mp.png"
                        alt="computadora-1">
                </button>
                <div class="w-full mb-2 text-center">
                    <span class="text-gray-500 text-sm">AMD RX 6400 4GB RYZEN 5 5600G 8GB RAM</span>
                </div>
                <div class="h-10 text-center mb-2">
                    <span class="text-black text-2xl font-bold">S/ 2,200.00</span>
                </div>
                <div class="flex items-center justify-center p-4">
                    <button class="bg-black hover:bg-gray-700 text-white w-3/4 h-10 rounded-full">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container w-full mt-8" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="flex items-center justify-between py-4 w-full">
                <h4 class="text-2xl font-bold text-gray-700">
                    Laptops
                </h4>
                <button
                    class="ml-auto inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 transition-colors">
                    Ver todos
                    <svg class="w-3 h-3 ml-2.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="m14.475 12l-7.35-7.35q-.375-.375-.363-.888t.388-.887t.888-.375t.887.375l7.675 7.7q.3.3.45.675t.15.75t-.15.75t-.45.675l-7.7 7.7q-.375.375-.875.363T7.15 21.1t-.375-.888t.375-.887z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="w-full min-w-screen flex items-center justify-start overflow-x-auto px-4 py-4">
            <div class="bg-white mx-4 border border-gray-200 rounded-2xl shadow-lg p-2 dark:border-gray-700"
                style="width: 22rem; flex-shrink: 0;">
                <button
                    class="flex items-center justify-center mb-2 rounded-xl overflow-hidden dark:bg-gray-700 w-full h-full">
                    <img class="w-full h-full object-contain"
                        src="https://img01.huaweifile.com/sg/ms/pe/pms/uomcdn/PE_HW_B2C/pms/202409/gbom/6942103125171/428_428_0B30B9E7F32A157F613C4E3A6A9515B1mp.png"
                        alt="computadora-1">
                </button>
                <div class="w-full mb-2 text-center">
                    <span class="text-gray-500 text-sm">AMD RX 6400 4GB RYZEN 5 5600G 8GB RAM</span>
                </div>
                <div class="h-10 text-center mb-2">
                    <span class="text-black text-2xl font-bold">S/ 2,200.00</span>
                </div>
                <div class="flex items-center justify-center p-4">
                    <button class="bg-black hover:bg-gray-700 text-white w-3/4 h-10 rounded-full">Comprar</button>
                </div>
            </div>

            <div class="bg-white mx-4 border border-gray-200 rounded-2xl shadow-lg p-2 dark:border-gray-700"
                style="width: 22rem; flex-shrink: 0;">
                <button
                    class="flex items-center justify-center mb-2 rounded-xl overflow-hidden dark:bg-gray-700 w-full h-full">
                    <img class="w-full h-full object-contain"
                        src="https://img01.huaweifile.com/sg/ms/pe/pms/uomcdn/PE_HW_B2C/pms/202409/gbom/6942103125171/428_428_0B30B9E7F32A157F613C4E3A6A9515B1mp.png"
                        alt="computadora-1">
                </button>
                <div class="w-full mb-2 text-center">
                    <span class="text-gray-500 text-sm">AMD RX 6400 4GB RYZEN 5 5600G 8GB RAM</span>
                </div>
                <div class="h-10 text-center mb-2">
                    <span class="text-black text-2xl font-bold">S/ 2,200.00</span>
                </div>
                <div class="flex items-center justify-center p-4">
                    <button class="bg-black hover:bg-gray-700 text-white w-3/4 h-10 rounded-full">Comprar</button>
                </div>
            </div>
            <div class="bg-white mx-4 border border-gray-200 rounded-2xl shadow-lg p-2 dark:border-gray-700"
                style="width: 22rem; flex-shrink: 0;">
                <button
                    class="flex items-center justify-center mb-2 rounded-xl overflow-hidden dark:bg-gray-700 w-full h-full">
                    <img class="w-full h-full object-contain"
                        src="https://img01.huaweifile.com/sg/ms/pe/pms/uomcdn/PE_HW_B2C/pms/202409/gbom/6942103125171/428_428_0B30B9E7F32A157F613C4E3A6A9515B1mp.png"
                        alt="computadora-1">
                </button>
                <div class="w-full mb-2 text-center">
                    <span class="text-gray-500 text-sm">AMD RX 6400 4GB RYZEN 5 5600G 8GB RAM</span>
                </div>
                <div class="h-10 text-center mb-2">
                    <span class="text-black text-2xl font-bold">S/ 2,200.00</span>
                </div>
                <div class="flex items-center justify-center p-4">
                    <button class="bg-black hover:bg-gray-700 text-white w-3/4 h-10 rounded-full">Comprar</button>
                </div>
            </div>
            <div class="bg-white mx-4 border border-gray-200 rounded-2xl shadow-lg p-2 dark:border-gray-700"
                style="width: 22rem; flex-shrink: 0;">
                <button
                    class="flex items-center justify-center mb-2 rounded-xl overflow-hidden dark:bg-gray-700 w-full h-full">
                    <img class="w-full h-full object-contain"
                        src="https://img01.huaweifile.com/sg/ms/pe/pms/uomcdn/PE_HW_B2C/pms/202409/gbom/6942103125171/428_428_0B30B9E7F32A157F613C4E3A6A9515B1mp.png"
                        alt="computadora-1">
                </button>
                <div class="w-full mb-2 text-center">
                    <span class="text-gray-500 text-sm">AMD RX 6400 4GB RYZEN 5 5600G 8GB RAM</span>
                </div>
                <div class="h-10 text-center mb-2">
                    <span class="text-black text-2xl font-bold">S/ 2,200.00</span>
                </div>
                <div class="flex items-center justify-center p-4">
                    <button class="bg-black hover:bg-gray-700 text-white w-3/4 h-10 rounded-full">Comprar</button>
                </div>
            </div>
            <div class="bg-white mx-4 border border-gray-200 rounded-2xl shadow-lg p-2 dark:border-gray-700"
                style="width: 22rem; flex-shrink: 0;">
                <button
                    class="flex items-center justify-center mb-2 rounded-xl overflow-hidden dark:bg-gray-700 w-full h-full">
                    <img class="w-full h-full object-contain"
                        src="https://img01.huaweifile.com/sg/ms/pe/pms/uomcdn/PE_HW_B2C/pms/202409/gbom/6942103125171/428_428_0B30B9E7F32A157F613C4E3A6A9515B1mp.png"
                        alt="computadora-1">
                </button>
                <div class="w-full mb-2 text-center">
                    <span class="text-gray-500 text-sm">AMD RX 6400 4GB RYZEN 5 5600G 8GB RAM</span>
                </div>
                <div class="h-10 text-center mb-2">
                    <span class="text-black text-2xl font-bold">S/ 2,200.00</span>
                </div>
                <div class="flex items-center justify-center p-4">
                    <button class="bg-black hover:bg-gray-700 text-white w-3/4 h-10 rounded-full">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>