<!-- Banner de la página principal -->
<div class="bg-gray-200 p-0">
    <div id="animation-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel de imágenes -->
        <div class="relative overflow-hidden w-full h-64 md:h-96" id="carousel">
            <button>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://www.asus.com/WebsitesBanner/PE/banners/0gycsgacomh7rg15/0gycsgacomh7rg15-0_0_desktop_0_1X.jpg?webp"
                        class="block w-full h-full object-cover" alt="Banner 1">
                </div>
            </button>
            <button>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://www.asus.com/WebsitesBanner/PE/banners/kla6am00ohiljbyw/kla6am00ohiljbyw-0_0_desktop_0_1X.jpg?webp"
                        class="block w-full h-full object-cover" alt="Banner 2">
                </div>
            </button>
            <button>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://www.asus.com/WebsitesBanner/PE/banners/wtgulhbphwz63hjl/wtgulhbphwz63hjl-0_0_desktop_0_1X.jpg?webp"
                        class="block w-full h-full object-cover" alt="Banner 3">
                </div>
            </button>

            <!-- Controles del carrusel -->
            <button type="button"
                class="absolute top-1/2 left-0 z-30 flex items-center justify-center h-full px-4 transform -translate-y-1/2 cursor-pointer group focus:outline-none"
                data-carousel-prev>
                <span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 focus:ring-4 group-focus:ring-white focus:outline-none">
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 1 1 5l4 4" />
                    </svg>
                    <span class="sr-only">Anterior</span>
                </span>
            </button>

            <button type="button"
                class="absolute top-1/2 right-0 z-30 flex items-center justify-center h-full px-4 transform -translate-y-1/2 cursor-pointer group focus:outline-none"
                data-carousel-next>
                <span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 focus:ring-4 group-focus:ring-white focus:outline-none">
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="sr-only">Siguiente</span>
                </span>
            </button>
        </div>
    </div>
</div>