<footer class="bg-gray-50">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-center">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 flex-grow p-4">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Información</h2>
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4"><button (click)="navigateTo('/servicio/tecnico')" class="hover:underline">Soporte Técnico</button></li>
                        <li class="mb-4"><button class="hover:underline">Nosotros</button></li>
                        <li class="mb-4">
                            <a href="https://www.facebook.com/profile.php?id=100079327576883" target="_blank" class="hover:underline">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 512 512" fill="currentColor">
                                    <path d="M288 192v-38.1c0-17.2 3.8-25.9 30.5-25.9H352V64h-55.9c-68.5 0-91.1 31.4-91.1 85.3V192h-45v64h45v192h83V256h56.4l7.6-64h-64z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Contáctenos</h2>
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4 flex items-center">
                            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 256 256" fill="currentColor">
                                <path d="M224 48H32a8 8 0 0 0-8 8v136a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V56a8 8 0 0 0-8-8m-96 85.15L52.57 64h150.86ZM98.71 128L40 181.81V74.19Zm11.84 10.85l12 11.05a8 8 0 0 0 10.82 0l12-11.05l58 53.15H52.57ZM157.29 128L216 74.18v107.64Z" />
                            </svg>
                            <button (click)="navigateTo('/servicio/tecnico')" class="hover:underline">Soporte Técnico</button>
                        </li>
                        <li class="mb-4 flex items-center">
                            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 256 256" fill="currentColor">
                                <path d="M128 64a40 40 0 1 0 40 40a40 40 0 0 0-40-40m0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24m0-112a88.1 88.1 0 0 0-88 88c0 31.4 14.51 64.68 42 96.25a254.19 254.19 0 0 0 41.45 38.3a8 8 0 0 0 9.18 0a254.19 254.19 0 0 0 41.37-38.3c27.45-31.57 42-64.85 42-96.25a88.1 88.1 0 0 0-88-88m0 206c-16.53-13-72-60.75-72-118a72 72 0 0 1 144 0c0 57.23-55.47 105-72 118" />
                            </svg>
                            <a href="https://maps.app.goo.gl/oVZ7sU3ukivZmd117" target="_blank" class="hover:underline">Jr. Los Incas 431, Satipo</a>
                        </li>
                        <li class="mb-4 flex items-center">
                            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2M12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8s8 3.58 8 8s-3.58 8-8 8" />
                                <path d="M12.5 7H11v6l5.25 3.15l.75-1.23l-4.5-2.67z" />
                            </svg>
                            <p>Lun a Sáb 10 am - 9 pm</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ml-4">Servicio de Asistencia</h2>
                    <ul class="text-gray-500 font-medium">
                        <li class="mb-4 mx-4">
                            <p>Siempre estamos dispuestos a ayudarle.</p>
                            <p>Nuestros operadores están en línea 24/7.</p>
                        </li>
                        <li class="ml-4">
                            <a href="https://wa.me/51903525932" target="_blank" class="flex justify-center">
                                <button type="button" class="text-gray-900 bg-white border border-gray-200 focus:ring-4 hover:bg-gray-300 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                                    <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 12a5 5 0 0 1 7 7m-7-7a4.993 4.993 0 0 0-2 4a5 5 0 0 0 .224 1.483c.272.88.076 1.86-.099 2.784a.468.468 0 0 0 .592.539c.848-.232 1.691-.43 2.557-.112A4.99 4.99 0 0 0 8 21a4.991 4.991 0 0 0 4-2m-7-7c0-4.685 2.875-9 8-9a8 8 0 0 1 7.532 10.7c-.476 1.326.037 3.102.337 4.568a.451.451 0 0 1-.584.526c-1.312-.41-2.852-.986-4.085-.466c-1.403.61-2.931.998-4.55-.61c-1.918-1.915-2.38-3.6-2.625-5.037" />
                                    </svg>
                                    WhatsApp
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
