.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 40;
}

.sidebar_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px; /* Ancho fijo de 256px */
  flex-shrink: 0; /* Evita que se encoja */
  z-index: 50;
  transition: transform 0.3s ease; /* Animación para mostrar/ocultar */
  transform: translateX(-100%); /* Oculta el sidebar al cargar la página */
}

.sidebar_container.show {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .sidebar_container {
    transform: none;
    position: relative;
  }
}

/* ++++++++++++++++++++++++++++++ */
.card {
  transition: background 0.3s ease; /* Suaviza el cambio de color */
  text-align: left;
}

.card:hover {
  background: linear-gradient(
    to right,
    #441b57,
    #6b1b70,
    #7a2b3f
  ); /* Degradado similar al de la imagen al hacer hover */
}

.card a:hover {
  color: #a078ff; /* Color del enlace al hacer hover */
}

.custom-gradient {
  background: linear-gradient(
    to right,
    #762a85,
    #f472b6,
    #d8b4fe
  ); /* De rosa a morado claro */
  background-clip: text; /* Propiedad estándar */
  -webkit-background-clip: text; /* Prefijo para navegadores basados en WebKit (Safari, Chrome) */
  color: transparent;
}

.custom-gradient {
  background: linear-gradient(90deg, #4F46E5, #A78BFA);
  -webkit-background-clip: text;
  background-clip: text;
}
