<app-nav-catalogo></app-nav-catalogo>

<h4 class="flex justify-center my-3 mt-4 text-black text-2xl font-bold cursor-default">Computadoras</h4>
<div class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto p-4">
    <button *ngFor="let product of productos"  
      class="mx-3 my-3 max-w-60 p-4 border border-gray-200 rounded shadow md:p-6 "
      style="background-color:  #F4F4F4"
      [routerLink]="[product.id]">
        <a [routerLink]="['/computadoras',product.id]" class="flex items-center justify-center h-40 mb-4 rounded-md">
            <img class="max-h-32" src={{product.imagen}} alt="computadora">
        </a>
        <div class="w-44 mb-2 text-center h-20">
            <span class="text-black text-sm cursor-default">{{product.modelo}} {{product.marca}} {{product.descripcion}}</span>
        </div>
        <div class="h-10 text-center mb-2">
            <span class="text-black text-2xl font-bold cursor-default">{{product.precio | currency:'S/ ' : 'symbol' : '1.2-3' }}</span>
        </div>
        <div class="flex items-center justify-center ">
            <div class="rounded-md mr-1 bg-black hover:bg-slate-700">
                <a href="#"
                    class="flex items-center justify-center font-bold h-10 w-32 text-xs text-white"
                    >Agregar
                    al carro</a>
            </div>
            <div class="rounded-md bg-black hover:bg-slate-700">
                <a href="#"
                    class="flex items-center justify-center font-bold h-10 w-20 text-xs text-white "
                    >Comprar</a>
            </div>
        </div>
    </button>
</div>
<app-footer-catalogo></app-footer-catalogo>
<router-outlet></router-outlet>